$red: rgba(192, 13, 11, 1);
$pink: rgba(255, 240, 211, 1);
$light-green: rgba(121, 167, 10, 1);

$white: rgba(255, 255, 255, 1);
$dark-white: rgba(245, 245, 245, 1);

$light-gray: rgba(200, 200, 200, 1);
$gray: rgba(175, 175, 175, 1);
$dark-gray: rgb(80, 80, 80);

$light-black: rgb(35, 35, 35);
$black: #000000;
